flows.json
[
    {
        "id": "651af9bb9a46e4b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9357c048778312fb",
        "type": "subflow",
        "name": "Check User",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 180,
                "wires": [
                    {
                        "id": "b45ed1d156b58f2b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 120,
                "wires": [
                    {
                        "id": "9e67bd51c83a538c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-address-book"
    },
    {
        "id": "8775dfdfd56f79c1",
        "type": "subflow",
        "name": "Has admin",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 180,
                "wires": [
                    {
                        "id": "2cf53f5e4e43c395"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 140,
                "wires": [
                    {
                        "id": "2cf53f5e4e43c395",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "node-red/cog.svg"
    },
    {
        "id": "071adb762f609302",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "dbName": "todoDb",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "c511762b02162f48",
        "type": "jwt verify",
        "z": "9357c048778312fb",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "147852369",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "9e67bd51c83a538c"
            ]
        ]
    },
    {
        "id": "9e67bd51c83a538c",
        "type": "function",
        "z": "9357c048778312fb",
        "name": "function 1",
        "func": "// Bypass varsa (login/register veya /user-opt/add), direk geçir\nif (msg.auth && msg.auth.skip) {\n  if (msg.user === undefined) msg.user = null;\n  return msg;\n}\n\n// Normal yol: token doğrulandıktan sonra kullanıcıyı ekle\nif (!msg.token) { return null; }\nif (msg.token.ip && msg.req && msg.token.ip !== msg.req.ip) { return null; }\n\nmsg.user = msg.token;\nmsg.user.isAdmin = Array.isArray(msg.user?.roles) && msg.user.roles.includes(\"admin\");\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b45ed1d156b58f2b",
        "type": "function",
        "z": "9357c048778312fb",
        "name": "function 3",
        "func": "// OUT1: devam (verify-bypass'a gidecek)\n// OUT2: 302 /login (redirect)\n\nconst urlPath = (msg.req?.originalUrl || \"/\").split(\"?\")[0];\nconst method  = msg.req?.method || \"GET\";\nconst t = msg.req?.cookies?.token;\n\n// Herkese açık sayfalar\n// Herkese açık sayfalar\nconst isPublic =\n  /^\\/login\\b/.test(urlPath) ||\n  /^\\/register\\b/.test(urlPath) ||\n  /^\\/favicon\\.ico$/.test(urlPath) ||\n  /^\\/assets\\//.test(urlPath) ||\n  /^\\/css\\//.test(urlPath) ||      \n  /^\\/js\\//.test(urlPath)  ||      \n  /^\\/font(s)?\\//.test(urlPath) || \n  /^\\/img\\//.test(urlPath);        \n\n\n// Kayıt formu POST'u (register'dan)\nconst DB = global.get(\"DB\") || {};\nconst isFirstUser = !Array.isArray(DB.user) || DB.user.length === 0;\nconst fromRegister = (msg.req?.headers?.referer || \"\").includes(\"/register\");\nconst allowSignupPost = urlPath === \"/user-opt/add\" && method === \"POST\" && (isFirstUser || fromRegister);\n\nif (isPublic || allowSignupPost) {\n  // verify'ı atlayacağımızı işaretle\n  msg.auth = { skip: true };\n  return [msg, null];     // OUT1\n}\n\nif (!t) {\n  msg.statusCode = 302;\n  msg.headers = { Location: \"/login?next=\" + encodeURIComponent(msg.req?.originalUrl || \"/\") };\n  msg.payload = \"\";\n  return [null, msg];     // OUT2 → http (302)\n}\n\nmsg.token = t;\nreturn [msg, null];       // OUT1 → verify-bypass\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "3ec52673b7ad49d0"
            ],
            [
                "0c24164cf1ebeb78"
            ]
        ]
    },
    {
        "id": "0c24164cf1ebeb78",
        "type": "http response",
        "z": "9357c048778312fb",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/login"
        },
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ec52673b7ad49d0",
        "type": "function",
        "z": "9357c048778312fb",
        "name": "verify-bypass",
        "func": "if (msg.auth && msg.auth.skip) {\n  msg.user = null;\n  return [msg, null];      // OUT1\n}\n// Bypass yoksa JWT verify'a gönder\nreturn [null, msg];        // OUT2\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "9e67bd51c83a538c"
            ],
            [
                "c511762b02162f48"
            ]
        ]
    },
    {
        "id": "2cf53f5e4e43c395",
        "type": "function",
        "z": "8775dfdfd56f79c1",
        "name": "function 5",
        "func": "if (msg.auth && msg.auth.skip) return msg;\n\n\nif (msg.user && msg.user.roles && msg.user.roles.includes(\"admin\")) return msg;\nreturn [null, msg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [],
            [
                "99ccd2c20e9fc2c3"
            ]
        ]
    },
    {
        "id": "99ccd2c20e9fc2c3",
        "type": "http response",
        "z": "8775dfdfd56f79c1",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ae9555726c58d4a",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Yapılacaklar Listesi</title>\n\n  <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\" />\n  <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\" />\n</head>\n\n<body class=\"bg-light\">\n\n  <!-- NAVBAR: solda sadece metin, sağda mavi kısayol (buton) -->\n  <nav class=\"navbar bg-white border-bottom mb-4 py-3\">\n    <div class=\"container d-flex align-items-center\">\n      <span class=\"navbar-text fw-semibold fs-4\">Yapılacaklar Listesi</span>\n      <!-- mavi kısayol: Admin Panel'e gider -->\n      {{#user.isAdmin}}\n      <a href=\"/user-list\"\n        class=\"btn btn-primary ms-auto d-flex align-items-center justify-content-center rounded-1 p-0 shadow\"\n        style=\"width:48px;height:48px;\" aria-label=\"Admin Panel\">\n        <i class=\"bi bi-person-fill fs-4\"></i>\n      </a>\n      {{/user.isAdmin}}\n    </div>\n  </nav>\n\n  <div class=\"container\">\n    <div class=\"row\">\n      <div class=\"col-md-8 offset-md-2\">\n\n        {{#error}}\n        <div class=\"alert alert-danger\">\n          <h4 class=\"m-0\">{{message}}</h4>\n        </div>\n        {{/error}}\n\n        <!-- Ekleme formu -->\n        <form action=\"/opt/add\" method=\"POST\" class=\"mb-3\">\n          <div class=\"input-group input-group-lg\">\n            <input required type=\"text\" name=\"name\"\n                   class=\"form-control {{#error}}border-danger{{/error}}\"\n                   placeholder=\"Dosyalar teslim edilecek...\">\n            <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n            <button class=\"btn btn-outline-primary px-5\" type=\"submit\">Ekle</button>\n          </div>\n        </form>\n\n        <!-- Liste Kartı -->\n        <div class=\"card overflow-hidden\">\n          <div class=\"card-body p-0\">\n            <div class=\"table-responsive\">\n              <table class=\"table table-hover m-0\">\n                <thead class=\"table-dark\">\n                  <tr>\n                    <th colspan=\"2\">Yapılacaklar Listesi</th>\n                  </tr>\n                </thead>\n                <tbody>\n                  {{#payload}}\n                  <tr class=\"align-middle\">\n                    <td>\n                      {{#done}}\n                      <div class=\"text-muted\"><del>{{name}}</del></div>\n                      {{/done}}\n                      {{^done}}\n                      <div>{{name}}</div>\n                      {{/done}}\n                      <span class=\"badge bg-secondary\">\n                        <i class=\"bi bi-calendar2-date\"></i>&nbsp;{{dateTime}}\n                      </span>\n                      {{#user.isAdmin}}\n                      <span class=\"badge bg-dark \">\n                        <i class=\"bi bi-person-fill\"></i>&nbsp;{{stamp.username}}\n                      </span>\n                      {{/user.isAdmin}}\n                    </td>\n                    <td class=\"text-end\">\n                      <div class=\"btn-group\">\n                        <form method=\"POST\" class=\"m-0\">\n                          <input type=\"hidden\" name=\"id\" value=\"{{id}}\"/>\n\n                          {{#done}}\n                          <button type=\"submit\" formaction=\"/opt/open\" class=\"btn btn-warning\" title=\"Yeniden aç\">\n                              <i class=\"bi bi-arrow-clockwise\"></i>\n                            </button>\n                          {{/done}}\n\n                          {{^done}}\n                          <a href=\"/schedule/{{id}}\" class=\"btn btn-secondary\" title=\"Zamanla\">\n                            <i class=\"bi bi-alarm-fill\"></i>\n                          </a>\n                          <a href=\"/edit/{{id}}\" class=\"btn btn-info\" title=\"Düzenle\">\n                            <i class=\"bi bi-pencil-square\"></i>\n                          </a>\n                          <button type=\"submit\" formaction=\"/opt/complete\" class=\"btn btn-success\" title=\"Tamamla\">\n                              <i class=\"bi bi-check-square\"></i>\n                            </button>\n                          {{/done}}\n\n                          <button type=\"submit\" formaction=\"/opt/trash\" class=\"btn btn-danger\" title=\"Sil\">\n                            <i class=\"bi bi-trash\"></i>\n                          </button>\n                        </form>\n                      </div>\n                    </td>\n                  </tr>\n                  {{/payload}}\n\n                  {{^payload}}\n                  <tr>\n                    <td colspan=\"2\" class=\"text-muted text-center py-4\">Henüz giriş yapılmadı...</td>\n                  </tr>\n                  {{/payload}}\n                </tbody>\n              </table>\n            </div>\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </div>\n  <!-- Sağ alt kullanıcı/çıkış alanı -->\n  <div class=\"position-fixed bottom-0 end-0 m-4\" style=\"z-index:1080\">\n    {{#user}}\n    <div class=\"btn-group dropup shadow\">\n      <button type=\"button\" class=\"btn btn-light border\">\n          {{#user.displayName}}{{user.displayName}}{{/user.displayName}}\n          {{^user.displayName}}{{user.username}}{{/user.displayName}}\n          {{#user.email}}{{user.email}}{{/user.email}}\n          {{^user.email}}{{user.email}}{{/user.email}}\n        </button>\n      <a href=\"/logout\" class=\"btn btn-danger\" title=\"Çıkış\">\n        <i class=\"bi bi-power\"></i>\n      </a>\n    </div>\n    {{/user}}\n\n    {{^user}}\n    <a href=\"/login\" class=\"btn btn-outline-primary shadow\">\n      <i class=\"bi bi-person\"></i> Giriş\n    </a>\n    {{/user}}\n  </div>\n\n  <script src=\"/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>",
        "output": "str",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "5f3b77fa64a6ca14"
            ]
        ]
    },
    {
        "id": "5f3b77fa64a6ca14",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "9e7745c31875caa6",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.todo.find()",
        "func": "\nlet query = msg.user.roles.includes(\"admin\")\n  ? {}\n  : { \"stamp.username\": msg.user.username };\n\nmsg.payload = [[{ $match: query },\n{ $sort: { \"stamp.createdAt\": -1 } },\n\n  ]\n];\n\nmsg.hasAdmin = msg.user.roles.includes(\"admin\") ? true : false;\nreturn msg;\n/*\nlet query = msg.user.roles.includes(\"admin\")\n      ? {}\n      : { \"stamp.username\": msg.user.username };\n\n    msg.payload = query; // Sadece sorgu nesnesini gönderiyoruz\n\n    return msg;\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "7b383705f4aaec1f"
            ]
        ]
    },
    {
        "id": "c5f4d0120c89df7e",
        "type": "link in",
        "z": "651af9bb9a46e4b0",
        "name": "link in 1",
        "links": [
            "0302817e86f493e9",
            "8646b06022669592",
            "2713f0cacf4e39f6",
            "22dd74058ceaa141"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "6d8042d6f0a12ac0"
            ]
        ]
    },
    {
        "id": "cb74c25f1cb1ec44",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/opt/:type",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "f55ef5f0d076fe2f"
            ]
        ]
    },
    {
        "id": "91308c72ec45a46b",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 1500,
        "y": 540,
        "wires": []
    },
    {
        "id": "f8a16a36a9c0bb02",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.todo.opt()",
        "func": "const type = (msg.req?.params?.type || \"\").trim();\nconst nowDate = new Date();\nconst now = nowDate.getTime();\n\nmsg.formData = msg.payload || {};\nconst f = msg.formData;\n\nfunction normId(v) {\n  const s = (v ?? \"\").toString().trim();\n  if (!s) return s;\n  const n = Number(s);\n  return Number.isNaN(n) ? s : n;\n}\n\nif (type === \"add\") {\n  const name = (f.name || \"\").trim();\n  msg.payload = {\n    id: now,\n    name,\n    done: false,\n    stamp: {\n      createdAt: now,\n      ip: msg.req?.ip || \"\",\n      username: msg.user?.username || \"\",\n      email: msg.user?.email || \"\"\n    },\n    dateTime: nowDate.toLocaleString(\"tr-TR\", { hour12: false })\n  };\n  return [msg, null];\n}\n\nconst id =\n  normId(f.id) ||\n  normId(msg.req?.body?.id) ||\n  normId(msg.req?.params?.id) ||\n  \"\";\n\nmsg.payload = { id };\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 580,
        "wires": [
            [
                "93d181d58a920cd0"
            ],
            [
                "57fe0dbd56855d23"
            ]
        ],
        "outputLabels": [
            "Success",
            ""
        ]
    },
    {
        "id": "c8e03f51ac6bfb33",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "validation",
        "func": "const typeLookup = {\n    trash: {\n        text: \"Silme\",\n        requireArgs: [\"id\"]\n    },\n    complete: {\n        text: \"Tamamlama\",\n        requireArgs: [\"id\"]\n    },\n    open: {\n        text: \"Açma\",\n        requireArgs: [\"id\"]\n    },\n    add: {\n        text: \"Ekleme\",\n        requireArgs: [\"name\"]\n    },\n    update: {\n        text: \"Güncelle\",\n        requireArgs: [\"id\", \"name\", \"orig\"]\n    },\n    schedule: {\n        text: \"Hatırlatıcı\",\n        requireArgs: [\"id\", \"datetime\"]\n    }\n}\n\nif (!Object.keys(typeLookup).includes(msg.req.params.type)) {\n    msg.error = {\n        message: `${msg.req.params.type} geçersiz bir parametre değeridir.`\n    }\n    return [null, msg]\n}\n\nif (!typeLookup[msg.req.params.type].requireArgs.every(arg => msg.payload[arg])) {\n    msg.error = {\n        message: `${typeLookup[msg.req.params.type].text} istediğiniz elemanın ${typeLookup[msg.req.params.type].requireArgs} bilgisi olmalı`\n    }\n    return [null, msg]\n}\n\nif (msg.req.params.type === \"update\") {\n    const newVal = (msg.payload.name || \"\").trim();\n    const origVal = (msg.payload.orig || \"\").trim();\n    if (newVal === origVal) {\n        msg.error = {\n            message: \"Herhangi bir güncelleme yapmadınız.\"\n        };\n        return [null, msg];\n    }\n}\nif (msg.req.params.type === \"schedule\") {\n    const newDt = (msg.payload.datetime || \"\").trim();\n    const origDt = (msg.payload.origDt || \"\").trim();\n    const newNote = (msg.payload.note || \"\").trim();\n    const origNote = (msg.payload.origNote || \"\").trim();\n\n    const ms = Date.parse(newDt);\n\n    if (ms < Date.now()) {\n        msg.error = { message: \"Geçmiş bir zamana planlanamaz.\" };\n        return [null, msg];\n    }\n    if (origDt && newDt === origDt) {\n        msg.error = { message: \"Herhangi bir değişiklik yapmadınız.\" };\n        return [null, msg];\n    }\n\n    msg.payload.schedule = { datetime: newDt, epoch: ms };\n}\n\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "f8a16a36a9c0bb02"
            ],
            [
                "0302817e86f493e9"
            ]
        ],
        "outputLabels": [
            "Valid",
            "Invalid"
        ]
    },
    {
        "id": "0302817e86f493e9",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "c5f4d0120c89df7e"
        ],
        "x": 595,
        "y": 620,
        "wires": []
    },
    {
        "id": "8646b06022669592",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "c5f4d0120c89df7e"
        ],
        "x": 1135,
        "y": 600,
        "wires": []
    },
    {
        "id": "a72f64871256d68a",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6d8042d6f0a12ac0"
            ]
        ]
    },
    {
        "id": "6f79df54bf91c316",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/edit/:id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4a66cc4d80aa2897"
            ]
        ]
    },
    {
        "id": "414d44229aa0ed03",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.todo.findOne()",
        "func": "// URL'den gelen id'yi sayı yapılabiliyorsa sayıya çevir\nconst raw = (msg.req.params.id ?? \"\").toString().trim();\nconst num = Number(raw);\nconst id  = Number.isNaN(num) ? raw : num;\n\nmsg.payload = { id };\n\nif(!msg.user.roles.includes(\"admin\")){\n  msg.payload[\"stamp.username\"] = msg.user.username;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "4ebc1649e8305f46"
            ]
        ],
        "outputLabels": [
            "Success"
        ]
    },
    {
        "id": "b38fb814b875aebb",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Yapılacaklar — Düzenleme</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\" />\n</head>\n\n<body class=\"bg-light\">\n    <!-- NAVBAR: ana sayfadaki ile aynı yükseklik ve yapı -->\n    <nav class=\"navbar bg-white border-bottom mb-4 py-3\">\n        <div class=\"container d-flex align-items-center\">\n            <span class=\"navbar-text fw-semibold fs-4\">Yapılacaklar — Düzenleme</span>\n            <a class=\"ms-auto nav-link fw-semibold fs-5\" href=\"/\">Ana Sayfa</a>\n        </div>\n    </nav>\n\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-md-8 offset-md-2\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n\n                <form action=\"/opt/update\" method=\"POST\">\n                    <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\">\n                    <input type=\"hidden\" name=\"orig\" value=\"{{payload.name}}\">\n\n                    <div class=\"mb-4\">\n                        <input\n              required\n              type=\"text\"\n              name=\"name\"\n              value=\"{{payload.name}}\"\n              class=\"form-control form-control-lg {{#error}}border-danger{{/error}} {{^error}}border-info{{/error}}\"\n              placeholder=\"Dosyalar teslim edilecek...\"\n            >\n                    </div>\n\n                    <div class=\"d-flex justify-content-end gap-2 mb-1\">\n                        <a class=\"btn btn-outline-warning\" href=\"/\">Vazgeç</a>\n                        <button class=\"btn btn-outline-secondary\" type=\"button\"\n                    onclick=\"document.querySelector('[name=name]').value = ''\">Temizle</button>\n                        <button id=\"btnUpdate\" class=\"btn btn-outline-success px-5\" type=\"submit\" disabled>Güncelle</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        (function(){\n    const nameEl = document.querySelector('[name=name]');\n    const origEl = document.querySelector('[name=orig]');\n    const btn    = document.getElementById('btnUpdate');\n\n    function toggle(){\n      const changed = (nameEl.value || '').trim() !== (origEl.value || '').trim();\n      btn.disabled = !changed;\n    }\n    document.addEventListener('DOMContentLoaded', toggle);\n    nameEl.addEventListener('input', toggle);\n  })();\n    </script>\n\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>",
        "output": "str",
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "16deb591861247c0"
            ]
        ]
    },
    {
        "id": "2713f0cacf4e39f6",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "c5f4d0120c89df7e"
        ],
        "x": 955,
        "y": 360,
        "wires": []
    },
    {
        "id": "16deb591861247c0",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1170,
        "y": 320,
        "wires": []
    },
    {
        "id": "3eea38f2a6d357e1",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/schedule/:id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "2cbcf6d6ae4cab8b"
            ]
        ]
    },
    {
        "id": "b8be420b120246f5",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.todo.findTwo()",
        "func": "// URL'den gelen id'yi sayı yapılabiliyorsa sayıya çevir\nconst raw = (msg.req.params.id ?? \"\").toString().trim();\nconst num = Number(raw);\nconst id  = Number.isNaN(num) ? raw : num;\n\nmsg.payload = { id };\n\nif(!msg.user.roles.includes(\"admin\")){\n  msg.payload[\"stamp.username\"] = msg.user.username;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "8af76568d2754a77"
            ]
        ],
        "outputLabels": [
            "Success"
        ]
    },
    {
        "id": "a35e8f26138c2a60",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Hatırlatıcılar</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <link href=\"/font/bootstrap-icons.min.css\" rel=\"stylesheet\">\n  <style>\n    .badge-time {\n      background: #e9ecef;\n      color: #212529;\n    }\n\n    .list-hover .list-group-item:hover {\n      background: #f8f9fa;\n    }\n  </style>\n</head>\n\n<body class=\"bg-light\">\n\n  <!-- NAVBAR -->\n  <nav class=\"navbar bg-white border-bottom mb-4 py-3\">\n    <div class=\"container d-flex align-items-center\">\n      <span class=\"navbar-text fw-semibold fs-4\">Hatırlatıcılar</span>\n      <a class=\"ms-auto nav-link fw-semibold fs-5\" href=\"/\">Ana Sayfa</a>\n    </div>\n  </nav>\n\n  <main class=\"container\">\n    <div class=\"row\">\n      <div class=\"col-md-8 offset-md-2\">\n\n        <!-- FORM -->\n        <form id=\"frm\" action=\"/opt/schedule\" method=\"post\" class=\"mb-3\">\n          <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\">\n\n          {{#payload.schedule}}\n          <input type=\"hidden\" name=\"origDt\" value=\"{{min}}\">\n          <input type=\"hidden\" name=\"origNote\" value=\"{{formData.note}}\">\n          {{/payload.schedule}}\n\n          <!-- Tarih/Saat -->\n          <div class=\"mb-3\">\n            <input\n              id=\"dt\"\n              name=\"datetime\"\n              type=\"datetime-local\"\n              step=\"60\"\n              class=\"form-control form-control-lg\"\n              {{#payload.schedule}} value=\"{{min}}\" {{/payload.schedule}}\n              aria-label=\"Tarih ve saat\">\n          </div>\n\n          <!-- Not -->\n          <div class=\"mb-3\">\n            <textarea\n              id=\"note\"\n              name=\"note\"\n              class=\"form-control form-control-lg\"\n              placeholder=\"Not ekleyin…\"\n              rows=\"3\">{{#payload.schedule}}{{formData.note}}{{/payload.schedule}}</textarea>\n          </div>\n\n          <!-- Butonlar -->\n          <div class=\"mb-3 d-flex justify-content-end gap-2\">\n            <a id=\"btnCancel\" class=\"btn btn-danger\" href=\"/\">Vazgeç</a>\n            <button id=\"btnClear\" class=\"btn btn-secondary\" type=\"button\">Temizle</button>\n            <button id=\"btnPlan\"  class=\"btn btn-success\" type=\"submit\">Planla</button>\n          </div>\n        </form>\n\n        <!-- LİSTE -->\n        <h5 class=\"text-muted mt-4\">Yaklaşan hatırlatıcılar</h5>\n        <div id=\"list\" class=\"list-group list-hover\">\n          {{#payload.schedule}}\n          <div class=\"list-group-item d-flex align-items-center justify-content-between\">\n            <div class=\"me-3\">\n              <div class=\"fw-semibold\">{{note}}{{^note}}Hatırlatıcı{{/note}}</div>\n              {{#formData.note}}\n              <div class=\"text-muted \" style=\"white-space:pre-wrap\">{{formData.note}}</div>\n              {{/formData.note}}\n            </div>\n\n            <div class=\"d-flex align-items-center gap-2\">\n              <span class=\"badge badge-time\">\n                <i class=\"bi bi-calendar2-date\"></i>\n                {{datetime}}\n              </span>\n\n              <button\n                class=\"btn btn-sm btn-outline-primary btn-edit\"\n                type=\"button\"\n                data-id=\"{{id}}\"\n                data-datetime=\"{{datetime}}\"\n                data-note=\"{{formData.note}}\"\n                data-name=\"{{name}}\"\n                title=\"Düzenle\">\n                <i class=\"bi bi-pencil-square\"></i>\n              </button>\n\n              <form action=\"/opt/schedule/delete\" method=\"post\" class=\"m-0 p-0\">\n                <input type=\"hidden\" name=\"id\" value=\"{{id}}\">\n                <button class=\"btn btn-sm btn-outline-danger\" type=\"submit\" title=\"Sil\">\n                  <i class=\"bi bi-trash\"></i>\n                </button>\n              </form>\n            </div>\n          </div>\n          {{/payload.schedule}}\n\n          {{^payload.schedule}}\n          <div class=\"list-group-item text-muted text-center\">Kayıt yok.</div>\n          {{/payload.schedule}}\n        </div>\n\n      </div>\n    </div>\n  </main>\n\n  <script>\n    (function(){\n    const dt       = document.getElementById('dt');\n    const note     = document.getElementById('note');\n    const btnClear = document.getElementById('btnClear');\n    const planBtn  = document.getElementById('btnPlan');\n\n    function pad(n){ return String(n).padStart(2,'0'); }\n    function toLocalInputValue(d){\n      const yy = d.getFullYear();\n      const mm = pad(d.getMonth()+1);\n      const dd = pad(d.getDate());\n      const hh = pad(d.getHours());\n      const mi = pad(d.getMinutes());\n      return `${yy}-${mm}-${dd}T${hh}:${mi}`;\n    }\n    function plusMinutes(date, minutes){\n      const d = new Date(date.getTime());\n      d.setMinutes(d.getMinutes() + minutes);\n      d.setSeconds(0,0);\n      return d;\n    }\n\n    document.addEventListener('DOMContentLoaded', function(){\n      const now = new Date();\n      const suggestion = plusMinutes(now, 10); // sadece varsayılan öneri\n      const minAllowed = now;\n\n      let current = new Date(dt.value);\n      if (!dt.value || !isFinite(current) || current <= now) {\n        dt.value = toLocalInputValue(suggestion);\n      }\n      dt.min = toLocalInputValue(minAllowed);\n\n      dt.addEventListener('change', function(){\n        const chosen = new Date(dt.value);\n        const now2 = new Date();\n        if (!isFinite(chosen) || chosen < now2) {\n          dt.value = toLocalInputValue(plusMinutes(now2, 1));\n        }\n      });\n\n      btnClear?.addEventListener('click', function(){\n        dt.value = '';\n        note.value = '';\n        planBtn.textContent = 'Planla';\n        dt.focus();\n      });\n\n      document.querySelectorAll('.btn-edit').forEach(btn => {\n        btn.addEventListener('click', () => {\n          const frm    = document.getElementById('frm');\n          const idEl   = frm.querySelector('input[name=\"id\"]');\n          const dtEl   = document.getElementById('dt');\n          const noteEl = document.getElementById('note');\n\n          const id   = btn.getAttribute('data-id');\n          const dtv  = btn.getAttribute('data-datetime') || '';\n          const nval = btn.getAttribute('data-note') || '';\n\n          idEl.value   = id;\n          dtEl.value   = dtv.replace(' ', 'T').slice(0,16);\n          noteEl.value = nval;\n\n          planBtn.textContent = 'Güncelle';\n          dtEl.focus();\n        });\n      });\n    });\n  })();\n  </script>\n\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n</body>\n\n</html>",
        "output": "str",
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "c001fccb8fb4cf85"
            ]
        ]
    },
    {
        "id": "22dd74058ceaa141",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "c5f4d0120c89df7e"
        ],
        "x": 995,
        "y": 480,
        "wires": []
    },
    {
        "id": "c001fccb8fb4cf85",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 420,
        "wires": []
    },
    {
        "id": "463e1db29a4e8833",
        "type": "crontinject",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "crontiMethod": "",
        "crontiArgs": "[]",
        "inputs": 1,
        "hasButton": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "d6134361a15b1330"
            ]
        ]
    },
    {
        "id": "4a377d0e6259123f",
        "type": "inject",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4957ed9e50014e41"
            ]
        ]
    },
    {
        "id": "6deb06d96837b126",
        "type": "e-mail",
        "z": "651af9bb9a46e4b0",
        "server": "smtp-relay.brevo.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1330,
        "y": 700,
        "wires": []
    },
    {
        "id": "0b9f34182300bc33",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "header",
        "func": "const DB = global.get(\"DB\") || { todo: [] };\n\n// Önce mevcut msg.todo varsa onu, yoksa topic'ten id yakala\nif (!msg.todo) {\n  const m = (msg.topic || \"\").match(/^todo:(\\d+)/);\n  if (m) {\n    const id = m[1];\n\n    // 1) Akış hafızası (function 11 schedule sırasında yazdık)\n    const flowTodo = flow.get(`todo:${id}`);\n    if (flowTodo) {\n      msg.todo = flowTodo;\n    }\n\n    // 2) Global DB yedeği\n    if (!msg.todo) {\n      msg.todo = DB.todo.find(t => String(t.id) === String(id));\n    }\n  }\n}\nif (!msg.todo) return null;\n\n// Eğer bu çağrı plan kaydını DB'ye yazmak içinse (kaydeden kol)\nif (msg.schedule) {\n  msg.payload = [\n    { _id: msg.formData.id },\n    { $set: { schedule: msg.response } }\n  ];\n  return [null, msg];\n}\n\n// Mail başlıkları\nmsg.from  = \"Hatırlatıcı <talhaormekaya@gmail.com>\";\nmsg.to    = (msg.todo?.stamp && msg.todo.stamp.email) ? msg.todo.stamp.email : \"talhaormekaya@gmail.com\";\nmsg.topic = `Hatırlatma: ${msg.todo?.name || \"Görev\"}`;\n\n// Görev üzerinde schedule'ı temizle ve son gönderim zamanını yaz\nconst idx = DB.todo.findIndex(t => String(t.id) === String(msg.todo.id));\nif (idx >= 0) {\n  if (DB.todo[idx].schedule) delete DB.todo[idx].schedule;\n  DB.todo[idx].dateTime = new Date().toLocaleString(\"tr-TR\", { hour12: false });\n  DB.todo[idx].stamp    = { createdAt: Date.now(), ip: \"\", user: \"\", email: \"\" };\n  global.set(\"DB\", DB);\n}\n\n// Akış hafızasındaki kopyayı da temizle\nconst topicId = (msg.topic || \"\").match(/^Hatırlatma: /) ? String(msg.todo.id) : null;\nif (topicId) {\n  flow.set(`todo:${topicId}`, undefined);\n}\n\nreturn msg;\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 720,
        "wires": [
            [
                "1e3410a2c0801097"
            ],
            [
                "7ca247c16df46b79"
            ]
        ]
    },
    {
        "id": "1e3410a2c0801097",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p>{{todo.name}} işi için hatırlatma.</p>\n\n{{#todo.lastNote}}\n  <p style=\"white-space:pre-wrap;\"><strong>Not:</strong> {{todo.lastNote}}</p>\n{{/todo.lastNote}}\n",
        "output": "str",
        "x": 1180,
        "y": 700,
        "wires": [
            [
                "6deb06d96837b126"
            ]
        ]
    },
    {
        "id": "18dc3105a4edec0c",
        "type": "link in",
        "z": "651af9bb9a46e4b0",
        "name": "link in 2",
        "links": [
            "7148ede4c5df0a6c",
            "dcacbd7ada1430a0"
        ],
        "x": 585,
        "y": 720,
        "wires": [
            [
                "463e1db29a4e8833"
            ]
        ]
    },
    {
        "id": "dcacbd7ada1430a0",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "18dc3105a4edec0c"
        ],
        "x": 895,
        "y": 120,
        "wires": []
    },
    {
        "id": "d6134361a15b1330",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "OnlyFires",
        "func": "// OnlyFires — sadece gerçek tetiklemeyi geçir\nif (msg.schedule && (msg.schedule.list || msg.schedule.self)) {\n  return null; // kayıt onayı → mail gönderme\n}\n\n// Kurulum mesajlarını ele\nif (typeof msg.payload === \"object\" &&\n  (msg.payload?.crontiMethod || msg.payload?.crontiArgs)) {\n  return null;\n}\n\n// Gerçek tetik: number (epoch) | Date | \"timestamp\" string'i\nconst isDateObj = msg.payload && Object.prototype.toString.call(msg.payload) === \"[object Date]\";\nconst isNumber = typeof msg.payload === \"number\";\nconst isParsableString = (typeof msg.payload === \"string\") && !Number.isNaN(Date.parse(msg.payload));\n\nconst isRealFire = isNumber || isDateObj || isParsableString;\nreturn isRealFire ? msg : null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 720,
        "wires": [
            [
                "0b9f34182300bc33"
            ]
        ]
    },
    {
        "id": "90f7036bef489ba2",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang=\"tr\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Admin Panel — Kullanıcı Listesi</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n</head>\n\n<body class=\"bg-light\">\n  <!-- NAVBAR -->\n  <nav class=\"navbar bg-white border-bottom mb-4 py-3\">\n    <div class=\"container d-flex align-items-center\">\n      <span class=\"navbar-text fw-semibold fs-4\">Admin Panel</span>\n      <a class=\"ms-auto nav-link fw-semibold fs-5\" href=\"/\">Ana Sayfa</a>\n    </div>\n  </nav>\n\n  <main class=\"container\">\n\n    {{#error}}\n    <div class=\"alert alert-danger d-flex align-items-center\" role=\"alert\">\n      <div class=\"me-2\">⚠️</div>\n      <div>{{message}}</div>\n    </div>\n    {{/error}}\n\n    <!-- Ekleme Formu -->\n    <div class=\"card shadow-sm mb-4\">\n      <div class=\"card-header bg-white\">\n        <h5 class=\"mb-0\">Kullanıcı Ekle</h5>\n      </div>\n      <div class=\"card-body\">\n        <form action=\"/user-opt/add\" method=\"post\" >\n          <div class=\"row g-3\">\n            <div class=\"col-md-4\">\n              <label class=\"form-label\">Kullanıcı Adı</label>\n              <input name=\"username\" required\n                     pattern=\"^[a-zA-Z0-9._]{3,32}$\"\n                     class=\"form-control {{#error.fields.username}}is-invalid{{/error.fields.username}}\"\n                     placeholder=\"Kullanıcı Adı\" value=\"{{body.username}}\">\n              {{#error.fields.username}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.username}}\n            </div>\n\n            <div class=\"col-md-4\">\n              <label class=\"form-label\">İsim Soyisim</label>\n              <input name=\"displayName\"\n                     class=\"form-control {{#error.fields.displayName}}is-invalid{{/error.fields.displayName}}\"\n                     placeholder=\"Ad Soyad\" value=\"{{body.displayName}}\">\n              {{#error.fields.displayName}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.displayName}}\n            </div>\n\n            <div class=\"col-md-4\">\n              <label class=\"form-label\">E-posta</label>\n              <input name=\"email\" type=\"email\" required\n                     class=\"form-control {{#error.fields.email}}is-invalid{{/error.fields.email}}\"\n                     placeholder=\"ad@domain.com\" value=\"{{body.email}}\">\n              {{#error.fields.email}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.email}}\n            </div>\n\n            <div class=\"col-md-4\">\n              <label class=\"form-label\">Parola</label>\n              <input name=\"password\" type=\"password\" required minlength=\"8\"\n                     class=\"form-control {{#error.fields.password}}is-invalid{{/error.fields.password}}\"\n                     placeholder=\"En az 8 karakter\">\n              {{#error.fields.password}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.password}}\n            </div>\n\n            <div class=\"col-md-8 d-flex align-items-end gap-2\">\n              <button class=\"btn btn-primary\" type=\"submit\">Ekle</button>\n              <a class=\"btn btn-light\" href=\"/user-list\">Vazgeç</a>\n              <a class=\"btn btn-outline-secondary\" href=\"/user-list\">Yenile</a>\n            </div>\n          </div>\n        </form>\n      </div>\n    </div>\n    <!-- Liste -->\n    <div class=\"card shadow-sm\">\n      <div class=\"card-header bg-white d-flex align-items-center justify-content-between\">\n        <h5 class=\"mb-0\">Kullanıcılar</h5>\n        <span class=\"text-muted small\">{{payload.length}} kayıt</span>\n      </div>\n      <div class=\"table-responsive\">\n        <table class=\"table table-hover align-middle mb-0\">\n          <thead class=\"table-light\">\n            <tr>\n              <th>ID</th>\n              <th>Kullanıcı</th>\n              <th>İsim</th>\n              <th>E-posta</th>\n              <th>Durum</th>\n              <th>Kayıt</th>\n              <th>Rol</th> <!-- YENİ -->\n              <th class=\"text-end\">İşlemler</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{#payload}}\n            <tr>\n              <td class=\"text-muted\">{{display_short_created_at_id}}</td>\n              <td>{{username}}</td>\n              <td>{{displayName}}</td>\n              <td>{{email}}</td>\n              <td>\n                {{#isActive}}<span class=\"badge text-bg-success\">Aktif</span>{{/isActive}}\n                {{^isActive}}\n                  {{#active}}<span class=\"badge text-bg-success\">Aktif</span>{{/active}}\n                  {{^active}}<span class=\"badge text-bg-secondary\">Pasif</span>{{/active}}\n                {{/isActive}}\n              </td>\n              <td><span class=\"text-muted small\">{{createdAtText}}</span></td>\n              <td>\n                {{#isAdmin}}\n                  <span class=\"badge text-bg-danger\">admin</span>\n                {{/isAdmin}}\n                {{^isAdmin}}\n                  <span class=\"badge text-bg-secondary\">user</span>\n                {{/isAdmin}}\n              </td>\n              <td class=\"text-end\">\n                <a class=\"btn btn-sm btn-outline-primary me-1\" href=\"/user-edit/{{id}}\">Düzenle</a>\n\n                {{#isActive}}\n                  <form class=\"d-inline\" action=\"/user-opt/deactivate\" method=\"post\">\n                    <input type=\"hidden\" name=\"id\" value=\"{{id}}\">\n                    <button class=\"btn btn-sm btn-outline-danger\" type=\"submit\">Pasifleştir</button>\n                  </form>\n                {{/isActive}}\n\n                {{^isActive}}\n                  {{#active}}\n                    <form class=\"d-inline\" action=\"/user-opt/deactivate\" method=\"post\">\n                      <input type=\"hidden\" name=\"id\" value=\"{{id}}\">\n                      <button class=\"btn btn-sm btn-outline-danger\" type=\"submit\">Pasifleştir</button>\n                    </form>\n                  {{/active}}\n                  {{^active}}\n                    <form class=\"d-inline\" action=\"/user-opt/activate\" method=\"post\">\n                      <input type=\"hidden\" name=\"id\" value=\"{{id}}\">\n                      <button class=\"btn btn-sm btn-outline-success\" type=\"submit\">Aktifleştir</button>\n                    </form>\n                  {{/active}}\n                {{/isActive}}\n              </td>\n            </tr>\n            {{/payload}}\n\n            {{^payload}}\n            <tr>\n              <td colspan=\"8\" class=\"text-center text-muted py-4\">Kayıt yok.</td>\n            </tr>\n            {{/payload}}\n          </tbody>\n        </table>\n      </div>\n    </div>\n    <footer class=\"text-center text-muted small my-4\">© {{year}} Admin</footer>\n  </main>\n\n  <script>\n    document.addEventListener('DOMContentLoaded', () => {\n      const el = document.querySelector('footer');\n      if (el && el.innerHTML.includes('{{year}}')) {\n        el.innerHTML = el.innerHTML.replace('{{year}}', new Date().getFullYear());\n      }\n    });\n  </script>\n</body>\n</html>\n",
        "output": "str",
        "x": 1180,
        "y": 940,
        "wires": [
            [
                "ec5abb8df0da65db"
            ]
        ]
    },
    {
        "id": "ec5abb8df0da65db",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "4801fcc29ebde45c",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.user.find()",
        "func": "/*\nmsg.payload = [\n  { $match: {} },\n  { $sort: { \"stamp.createdAt\": -1 } },\n  { $addFields: {\n      isAdmin: { $in: [\"admin\", { $ifNull: [\"$roles\", []] }] },\n      isActive: { $ifNull: [\"$active\", true] },\n      createdAtText: {\n        $dateToString: {\n          date: { $toDate: \"$createdAt\" },\n          format: \"%d.%m.%Y %H:%M:%S\",\n          timezone: \"Europe/Istanbul\"\n        }\n      }\n  } }\n];\nreturn msg;\n*/\n\nmsg.payload = {}; // Tüm kullanıcıları bulmak için boş sorgu\nmsg.sort = { \"stamp.createdAt\": -1 }; // Oluşturulma tarihine göre tersten sırala\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 940,
        "wires": [
            [
                "f99da836ba8f456d"
            ]
        ]
    },
    {
        "id": "4ca887471ba0d4a5",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/user-list",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "608bec346261cb04"
            ]
        ]
    },
    {
        "id": "cecc1be4c4bb0aa4",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/user-opt/:type",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "8a33b0e666b5995f"
            ]
        ]
    },
    {
        "id": "97440a5695968cc4",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.user.opt()",
        "func": "const type = msg.req?.params?.type ?? \"\";\nmsg.formData = msg.payload; \n\nif (type === \"add\") {\n  const now = Date.now();\n  const userDoc = {\n    username: (msg.formData.username || \"\").trim(),\n    password: (msg.formData.password || \"\").trim(),\n    displayName: (msg.formData.displayName || \"\").trim(),\n    email: (msg.formData.email || \"\").trim(),\n    roles: [\"user\"],\n    active: true,\n    createdAt: now,\n    order: now,\n    stamp: {\n      createdAt: now,\n      ip: msg.req?.ip,\n      username: (msg.formData.username || \"\").trim(),\n      email: (msg.formData.email || \"\").trim()\n    },\n    dateTime: new Date(now).toLocaleString(\"tr-TR\", { hour12: false })\n  };\n  msg.payload = userDoc;\n  return [msg, null];\n}\n\n// Sorunlu \"if (id.length === 48)\" satırı kaldırılmış, sadeleştirilmiş kod\nconst id = String(msg.formData.id || \"\");\n\nlet query;\nif (!id) {\n    query = { _id: \"__NEVER_FIND_THIS__\" };\n} else {\n    // \"Düzenle\" akışında çalıştığı kanıtlanmış olan güvenilir sorgu yöntemi kullanılıyor\n    query = {\n        $expr: {\n            $eq: [ { $toString: \"$_id\" }, id ]\n        }\n    };\n}\n\nmsg.payload = query;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1100,
        "wires": [
            [
                "0d8a639157364107"
            ],
            [
                "0c8fb0b08f44164f"
            ]
        ],
        "outputLabels": [
            "Success",
            "Error"
        ]
    },
    {
        "id": "7083b2826db710fa",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "validation",
        "func": "/***********************\n * Admin Validation v2\n * - /user-opt/:type  (POST)\n *   type ∈ { add, activate, deactivate }\n * - Cache KULLANMAZ → varlık kontrolünü DB bir sonraki nodda yapar.\n ***********************/\nconst BAD_REQ = 400;\n\nfunction redirect(path, flashType, flashMsg) {\n    msg.flash = { type: flashType || \"danger\", text: flashMsg || \"\" };\n    msg.statusCode = 302;\n    msg.headers = msg.headers || {};\n    msg.headers.Location = path || \"/user-list\";\n    return msg;\n}\n\nfunction fail(message, fieldErrors, toPath) {\n    msg.valid = false;\n    msg.errors = fieldErrors || {};\n    return redirect(toPath || \"/user-list\", \"danger\", message || \"İstek doğrulanamadı.\");\n}\n\nfunction ok(payload) {\n    msg.valid = true;\n    if (payload) msg.payload = payload;\n    return msg;\n}\n\n// ---- request kaynakları\nconst params = (msg.req && msg.req.params) || {};\nconst body   = (msg.payload && typeof msg.payload === \"object\") ? msg.payload : {};\nconst type   = String(params.type || body.type || \"\").trim().toLowerCase();\n\n// Küçük yardımcılar\nconst isEmail = (e) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(String(e || \"\").trim());\nconst notEmpty = (s) => String(s || \"\").trim().length > 0;\n\n// ---- router\nif (!type) {\n    return fail(\"Geçersiz istek: işlem türü yok.\", { type: \"Zorunlu.\" }, \"/user-list\");\n}\n\nif (type === \"activate\" || type === \"deactivate\") {\n    // Sadece ID’nin geldiğini doğrula; varlık kontrolünü MongoDB findOne yapacak\n    const id = String(body.id || \"\").trim();\n    if (!id) {\n        return fail(\"Geçersiz istek: id yok.\", { id: \"Zorunlu.\" }, \"/user-list\");\n    }\n    // Opsiyonel: 24 hex veya string id kabul edelim\n    const looksLikeObjectId = /^[a-fA-F0-9]{24}$/.test(id);\n    if (!looksLikeObjectId && id.length < 8) {\n        return fail(\"Geçersiz id.\", { id: \"Biçim geçersiz.\" }, \"/user-list\");\n    }\n\n    // Downstream için temiz bir payload bırak\n    msg.payload = { id, type };\n    return ok();\n}\n\nif (type === \"add\") {\n    const username = String(body.username || body.kullaniciAdi || \"\").trim();\n    const fullname = String(body.fullname || body.isim || \"\").trim();\n    const email    = String(body.email || body.eposta || \"\").trim();\n    const password = String(body.password || body.parola || \"\").trim();\n\n    const errors = {};\n    if (!notEmpty(username)) errors.username = \"Kullanıcı adı zorunlu.\";\n    if (!notEmpty(fullname)) errors.fullname = \"İsim soyisim zorunlu.\";\n    if (!isEmail(email))     errors.email    = \"E-posta biçimi hatalı.\";\n    if (password.length < 8) errors.password = \"Parola en az 8 karakter olmalı.\";\n\n    if (Object.keys(errors).length) {\n        return fail(\"Eksik veya hatalı alanlar var.\", errors, \"/user-list\");\n    }\n\n    // Downstream insert için normalize payload\n    msg.payload = { type, username, fullname, email, password };\n    return ok();\n}\n\n// İleride başka türler gelirse:\nreturn fail(`Desteklenmeyen işlem: ${type}`, { type: \"Bilinmiyor.\" }, \"/user-list\");\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "fc9042b8d1523bc0"
            ],
            [
                "7817b550669eb8a2"
            ]
        ],
        "outputLabels": [
            "Valid",
            "Invalid"
        ]
    },
    {
        "id": "126ead5b72b171f3",
        "type": "link in",
        "z": "651af9bb9a46e4b0",
        "name": "link in 4",
        "links": [
            "68b150d9072e014b",
            "18d52f7ab428eef7",
            "14819198696d743b"
        ],
        "x": 565,
        "y": 900,
        "wires": [
            [
                "4801fcc29ebde45c"
            ]
        ]
    },
    {
        "id": "7817b550669eb8a2",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "8a6d783f9fac6a74"
        ],
        "x": 795,
        "y": 1140,
        "wires": []
    },
    {
        "id": "68b150d9072e014b",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "126ead5b72b171f3"
        ],
        "x": 1545,
        "y": 1180,
        "wires": []
    },
    {
        "id": "158f6cdbc523a790",
        "type": "bcrypt",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "action": "encrypt",
        "field": "payload.password",
        "hash": "payload",
        "target": "payload.password",
        "assignment": "assign",
        "match": "match",
        "outputs": 1,
        "rounds": 10,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "97440a5695968cc4"
            ]
        ]
    },
    {
        "id": "314b400985be68da",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/user-edit/:id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "333ba1b4a05495f7"
            ]
        ]
    },
    {
        "id": "7c83cb4a19389f12",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "db.user.findOne()",
        "func": "const id = String(msg.req.params.id || '');\n\nmsg.payload = {\n  $expr: { $eq: [ { $toString: '$_id' }, id ] }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1260,
        "wires": [
            [
                "049f6c44dff76dd4"
            ]
        ],
        "outputLabels": [
            "Success"
        ]
    },
    {
        "id": "1251f822538e5dd8",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang=\"tr\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Admin Panel — Kullanıcı Düzenle</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <!-- Bootstrap -->\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n</head>\n\n<body class=\"bg-light\">\n  <!-- NAVBAR: solda büyük metin, sağda metin link -->\n  <nav class=\"navbar bg-white border-bottom mb-4 py-3\">\n    <div class=\"container d-flex align-items-center\">\n      <span class=\"navbar-text fw-semibold fs-4\">Admin Panel — Düzenleme Sayfası</span>\n      <a class=\"ms-auto nav-link fw-semibold fs-5\" href=\"/user-list\">Admin Panel</a>\n    </div>\n  </nav>\n\n  <main class=\"container\">\n    {{#error}}\n    <div class=\"alert alert-danger d-flex align-items-center\" role=\"alert\">\n      <div class=\"me-2\">⚠️</div><div>{{message}}</div>\n    </div>\n    {{/error}}\n\n    <div class=\"card shadow-sm\">\n      <div class=\"card-header bg-white\">\n        <h5 class=\"mb-0\">Kullanıcı Düzenle</h5>\n      </div>\n      <div class=\"card-body\">\n        <form action=\"/user-opt/update\" method=\"post\" novalidate>\n          <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\">\n\n          <div class=\"row g-3\">\n            <div class=\"col-md-6\">\n              <label class=\"form-label\">Kullanıcı adı</label>\n              <input name=\"username\" readonly\n                     class=\"form-control {{#error.fields.username}}is-invalid{{/error.fields.username}}\"\n                     placeholder=\"kullanici\" value=\"{{payload.username}}\">\n              {{#error.fields.username}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.username}}\n            </div>\n\n            <div class=\"col-md-6\">\n              <label class=\"form-label\">İsim Soyisim</label>\n              <input id=\"displayName\"\n                     name=\"displayName\"\n                     data-initial=\"{{payload.displayName}}\"\n                     class=\"form-control {{#error.fields.displayName}}is-invalid{{/error.fields.displayName}}\"\n                     placeholder=\"Ad Soyad\" value=\"{{payload.displayName}}\">\n              {{#error.fields.displayName}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.displayName}}\n            </div>\n\n            <div class=\"col-md-6\">\n              <label class=\"form-label\">E-posta</label>\n              <input name=\"email\" type=\"email\" required readonly\n                     class=\"form-control {{#error.fields.email}}is-invalid{{/error.fields.email}}\"\n                     placeholder=\"ad@domain.com\" value=\"{{payload.email}}\">\n              {{#error.fields.email}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.email}}\n            </div>\n\n            <div class=\"col-md-6\">\n              <label class=\"form-label\">Yeni şifre (opsiyonel)</label>\n              <input id=\"password\" name=\"password\" type=\"password\" minlength=\"8\"\n                     class=\"form-control {{#error.fields.password}}is-invalid{{/error.fields.password}}\"\n                     placeholder=\"Yeni parola\">\n              {{#error.fields.password}}<div class=\"invalid-feedback\">{{.}}</div>{{/error.fields.password}}\n            </div>\n            {{#user.isAdmin}}\n            <!-- Admin yetkisi -->\n            <div class=\"col-12\">\n              <div class=\"form-check\">\n                <!-- Alanın gönderildiğini backend'e belli etmek için -->\n                <input type=\"hidden\" name=\"isAdmin_present\" value=\"1\">\n                <input class=\"form-check-input\" type=\"checkbox\" id=\"cbAdmin\"\n                       name=\"isAdmin\" value=\"true\"\n                       {{#payload.isAdmin}}checked{{/payload.isAdmin}}>\n                <label class=\"form-check-label\" for=\"cbAdmin\">Admin yetkisi ver</label>\n              </div>\n            </div>\n            {{/user.isAdmin}}\n            \n            <!-- Aktif / Pasif -->\n            <div class=\"col-12\">\n              <div class=\"form-check form-check-inline\">\n                <input class=\"form-check-input\" id=\"r1\" type=\"radio\" name=\"active\" value=\"true\"\n                       {{#payload.isActive}}checked{{/payload.isActive}}\n                       {{#payload.active}}checked{{/payload.active}}>\n                <label class=\"form-check-label\" for=\"r1\">Aktif</label>\n              </div>\n              <div class=\"form-check form-check-inline\">\n                <input class=\"form-check-input\" id=\"r2\" type=\"radio\" name=\"active\" value=\"false\"\n                       {{^payload.isActive}}{{^payload.active}}checked{{/payload.active}}{{/payload.isActive}}>\n                <label class=\"form-check-label\" for=\"r2\">Pasif</label>\n              </div>\n            </div>\n\n            <div class=\"col-12 d-flex justify-content-end gap-2\">\n              <a class=\"btn btn-warning\" href=\"/user-list\">Vazgeç</a>\n              <button id=\"btnUpdate\" class=\"btn btn-secondary\" type=\"submit\" disabled>Güncelle</button>\n            </div>\n          </div>\n        </form>\n      </div>\n    </div>\n\n    <footer class=\"text-center text-muted small my-4\">© {{year}} Admin</footer>\n  </main>\n\n  <!-- Değişiklik olmadan Güncelle açılamasın -->\n  <script>\n  document.addEventListener('DOMContentLoaded', () => {\n    const btn    = document.getElementById('btnUpdate');      // Güncelle\n    const dnEl   = document.getElementById('displayName');    // İsim Soyisim\n    const pwEl   = document.getElementById('password');       // Yeni şifre\n    const cb     = document.getElementById('cbAdmin');        // Admin checkbox\n    const radios = document.querySelectorAll('input[name=\"active\"]'); // Aktif/Pasif\n\n    if (!btn || !dnEl || !pwEl) return;\n\n    const initialDN     = (dnEl.dataset.initial || '').trim();\n    const initialAdmin  = !!cb?.checked;\n    const initialActive = (document.querySelector('input[name=\"active\"]:checked')?.value ?? '');\n\n    function checkCanSubmit() {\n      const dn = dnEl.value.trim();\n      const pw = pwEl.value;\n\n      const dnChanged    = dn !== initialDN;\n      const pwChanged    = pw.trim().length > 0;\n      const pwValid      = !pwChanged || pw.trim().length >= 8;\n      const roleChanged  = cb ? (cb.checked !== initialAdmin) : false;\n      const currentActive= (document.querySelector('input[name=\"active\"]:checked')?.value ?? '');\n      const activeChanged= currentActive !== initialActive;\n\n      // Kısa şifre görsel uyarısı\n      pwEl.classList.toggle('is-invalid', pwChanged && !pwValid);\n\n      const can = (dnChanged || pwChanged || roleChanged || activeChanged) && pwValid;\n\n      btn.disabled = !can;\n      btn.classList.toggle('btn-success', can);\n      btn.classList.toggle('btn-secondary', !can);\n    }\n\n    dnEl.addEventListener('input', checkCanSubmit);\n    pwEl.addEventListener('input', checkCanSubmit);\n    cb?.addEventListener('change', checkCanSubmit);\n    radios.forEach(r => r.addEventListener('change', checkCanSubmit));\n\n    checkCanSubmit();\n  });\n  </script>\n\n  <script>\n    // Yıl bilgisi\n    document.addEventListener('DOMContentLoaded', () => {\n      const el = document.querySelector('footer');\n      if (el && el.innerHTML.includes('{{year}}')) {\n        el.innerHTML = el.innerHTML.replace('{{year}}', new Date().getFullYear());\n      }\n    });\n  </script>\n</body>\n</html>\n",
        "output": "str",
        "x": 1260,
        "y": 1240,
        "wires": [
            [
                "f8653907910821de"
            ]
        ]
    },
    {
        "id": "f8653907910821de",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 1240,
        "wires": []
    },
    {
        "id": "18d52f7ab428eef7",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "126ead5b72b171f3"
        ],
        "x": 1215,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fc9042b8d1523bc0",
        "type": "switch",
        "z": "651af9bb9a46e4b0",
        "name": "hash-or-skip",
        "property": "payload.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$exists(payload.password) and $length($trim(payload.password)) > 0",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 1100,
        "wires": [
            [
                "158f6cdbc523a790"
            ],
            [
                "97440a5695968cc4"
            ]
        ]
    },
    {
        "id": "4aeed1b5c7644171",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/login",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1460,
        "wires": [
            [
                "8c7785adb445f91b"
            ]
        ]
    },
    {
        "id": "8c7785adb445f91b",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Giriş Yap</title>\n\n  <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\" />\n  <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\" />\n</head>\n\n<body>\n  <div class=\"container mt-5\">\n    <div class=\"row justify-content-center\">\n      <div class=\"col-md-6 col-lg-5\">\n        <div class=\"card shadow-sm\">\n          <div class=\"card-body\">\n            <h5 class=\"mb-3\">Giriş Yap</h5>\n            {{#error}}\n            <div class=\"alert alert-danger\">\n                  {{message}}\n            </div>\n            {{/error}}\n            <form id=\"loginForm\" action=\"/login\" method=\"post\" novalidate>\n              <div class=\"mb-3\">\n                <label for=\"identifier\" class=\"form-label\">Kullanıcı adı veya E‑posta</label>\n                <input\n                    type=\"text\"\n                    class=\"form-control\"\n                    id=\"identifier\"\n                    name=\"identifier\"\n                    placeholder=\"kullanıcıAdı veya mail@ornek.com\"\n                    minlength=\"3\"\n                    required\n                  >\n                <div class=\"invalid-feedback\">Kullanıcı adı veya e‑posta gir.</div>\n              </div>\n\n              <div class=\"mb-2\">\n                <label for=\"password\" class=\"form-label\">Şifre</label>\n                <div class=\"input-group\">\n                  <input type=\"password\" class=\"form-control\" id=\"password\" name=\"password\" placeholder=\"Şifre\" minlength=\"4\" required>\n                  <button class=\"btn btn-outline-secondary\" type=\"button\" id=\"togglePass\"><i class=\"bi bi-eye\"></i></button>\n                </div>\n                <div class=\"invalid-feedback\">Şifre zorunludur.</div>\n              </div>\n\n              <div class=\"d-flex align-items-center justify-content-between mt-3\">\n                <div class=\"form-check\">\n                  <input class=\"form-check-input\" type=\"checkbox\" id=\"remember\">\n                  <label class=\"form-check-label\" for=\"remember\">Beni hatırla</label>\n                </div>\n                <button id=\"submitBtn\" class=\"btn btn-danger\" type=\"submit\">\n      <span class=\"btn-text\">Login</span>\n      <span class=\"spinner-border spinner-border-sm d-none\" role=\"status\" aria-hidden=\"true\"></span>\n    </button>\n              </div>\n            </form>\n\n            <div id=\"loginAlert\" class=\"alert alert-danger mt-3 d-none\" role=\"alert\"></div>\n\n            <p class=\"mt-3 mb-0\">\n              Kayıtlı değil misin? <a href=\"/register\">Hesap oluştur</a>\n            </p>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 440,
        "y": 1460,
        "wires": [
            [
                "0f88d4f9899d9885"
            ]
        ]
    },
    {
        "id": "0f88d4f9899d9885",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4ec111ca15940ef0",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/logout",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "898343caa6e3f92c"
            ]
        ]
    },
    {
        "id": "78a062b04551d6e3",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/login"
        },
        "x": 760,
        "y": 1700,
        "wires": []
    },
    {
        "id": "0f7d31954dc9a188",
        "type": "jwt sign",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "alg": "HS256",
        "exp": "604800000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "147852369",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 1180,
        "y": 1540,
        "wires": [
            [
                "f59872569465a1b9"
            ]
        ]
    },
    {
        "id": "ad4d0de03b852821",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "bcf4da036ac5b43b"
            ]
        ]
    },
    {
        "id": "e8c57f2b754850cc",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "passControl",
        "func": "if (!msg.match) {\n    msg.error = { message: \"Kullanıcı adı/e-posta veya şifre hatalı\" };\n    return [null, msg];   // Hata çıkışı\n}\n\n// Kullanıcı bilgilerini JWT payload için hazırla\nmsg.payload = {\n    username: msg.user.username,\n    email: msg.user.email,\n    displayName: msg.user.displayName,\n    roles: msg.user.roles,\n    ip: msg.req.ip\n};\n\n// Sonrasında JWT Sign node token'ı üretecek ve msg.token içine yazacak.\n// Biz de redirect adresini şimdiden hazırlıyoruz.\nconst next = msg.req && msg.req.query && msg.req.query.next;\nmsg.nextUrl = next && /^\\/.*/.test(next) ? next : \"/\";\n\nreturn msg;\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1540,
        "wires": [
            [
                "0f7d31954dc9a188"
            ],
            [
                "4d06ea5e79816953"
            ]
        ]
    },
    {
        "id": "bcf4da036ac5b43b",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "findUser",
        "func": "const p = msg.payload || {};\nconst identifier = (p.identifier || p.username || p.email || '').toString().trim();\nconst password   = (p.password || '').toString();\n\nmsg.formData = { identifier, password };\n\nif (!identifier || !password) {\n  msg.payload = { _id: \"__never__\" };\n  return msg;\n}\n\nmsg.payload = {\n  $and: [\n    { active: true },\n    { $or: [ { username: identifier }, { email: identifier } ] }\n  ]\n};\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bcrypt",
                "module": "bcrypt"
            }
        ],
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "a1e33ed13fcde42a"
            ]
        ]
    },
    {
        "id": "ed58fab8df11b349",
        "type": "bcrypt",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "action": "verify",
        "field": "formData.password",
        "hash": "user.password",
        "target": "payload",
        "assignment": "replace",
        "match": "match",
        "outputs": 1,
        "rounds": 10,
        "x": 840,
        "y": 1540,
        "wires": [
            [
                "e8c57f2b754850cc"
            ]
        ]
    },
    {
        "id": "86740e96f67da72b",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 1520,
        "y": 1540,
        "wires": []
    },
    {
        "id": "4d06ea5e79816953",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "3ecb9ddfd9c53584"
        ],
        "x": 1115,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3ecb9ddfd9c53584",
        "type": "link in",
        "z": "651af9bb9a46e4b0",
        "name": "link in 3",
        "links": [
            "4d06ea5e79816953",
            "42db88840c0f57de"
        ],
        "x": 345,
        "y": 1420,
        "wires": [
            [
                "8c7785adb445f91b"
            ]
        ]
    },
    {
        "id": "42db88840c0f57de",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "3ecb9ddfd9c53584"
        ],
        "x": 775,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6d8042d6f0a12ac0",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "9e7745c31875caa6"
            ]
        ]
    },
    {
        "id": "472f3a2d0f361a1d",
        "type": "http in",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "url": "/register",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "8637acb46830d49a"
            ]
        ]
    },
    {
        "id": "84be4beb553cbe26",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1800,
        "wires": []
    },
    {
        "id": "8637acb46830d49a",
        "type": "template",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Kayıt ol</title>\n\n  <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\"/>\n  <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\"/>\n</head>\n\n<body>\n<div class=\"container mt-5\">\n  <div class=\"row justify-content-center\">\n    <div class=\"col-md-7 col-lg-6\">\n      <div class=\"card shadow-sm\">\n        <div class=\"card-body\">\n          <h5 class=\"mb-3\">Hesap Oluştur</h5>\n          {{#error}}<div class=\"alert alert-danger d-flex align-items-center\" role=\"alert\">\n                    <div class=\"me-2\">⚠️</div><div>{{message}}</div>\n                    </div>\n          {{/error}}\n          <form id=\"registerForm\" action=\"/user-opt/add\" method=\"post\" novalidate>\n            <div class=\"mb-3\">\n              <label for=\"username\" class=\"form-label\">Kullanıcı Adı</label>\n              <input\n                type=\"text\"\n                id=\"username\"\n                name=\"username\"\n                value=\"{{body.username}}\"\n                class=\"form-control {{#error.fields.username}}is-invalid{{/error.fields.username}}\"\n                placeholder=\"kullanıcıAdı\"\n                pattern=\"^[a-z0-9._-]{3,20}$\"\n                required\n              >\n              <div class=\"invalid-feedback\">Geçerli bir kullanıcı adı gir.</div>\n            </div>\n\n            <div class=\"mb-3\">\n              <label for=\"name\" class=\"form-label\">Ad Soyad</label>\n              <input type=\"text\" id=\"name\" name=\"displayName\" value=\"{{body.displayName}}\" \n              class=\"form-control {{#error.fields.displayName}}is-invalid{{/error.fields.displayName}}\" \n              placeholder=\"Adınız Soyadınız\" minlength=\"2\" required>\n              <div class=\"invalid-feedback\">Lütfen ad soyad gir.</div>\n            </div>\n\n            <div class=\"mb-3\">\n              <label for=\"email\" class=\"form-label\">Email</label>\n              <input type=\"email\" id=\"email\" name=\"email\" value=\"{{body.email}}\" class=\"form-control {{#error.fields.email}}is-invalid{{/error.fields.email}}\" placeholder=\"mail@ornek.com\" required>\n              <div class=\"invalid-feedback\">Geçerli bir email gir.</div>\n            </div>\n\n            <div class=\"mb-3\">\n              <label for=\"password\" class=\"form-label\">Şifre</label>\n              <div class=\"input-group\">\n                <input type=\"password\" id=\"password\" name=\"password\" class=\"form-control\" placeholder=\"Şifre (Tekrar)\" required>\n                <button class=\"btn btn-outline-secondary\" type=\"button\" id=\"togglePass1\"><i class=\"bi bi-eye\"></i></button>\n              </div>\n              <div class=\"form-text\">En az 8 karakter.</div>\n              <div class=\"invalid-feedback\">Geçerli bir şifre gir.</div>\n            </div>\n\n            <div class=\"mb-2\">\n              <label for=\"password2\" class=\"form-label\">Şifre (Tekrar)</label>\n              <div class=\"input-group\">\n                <input type=\"password\" id=\"password2\" name=\"confirmPassword\" class=\"form-control\" placeholder=\"Şifre (Tekrar)\" required>\n                <button class=\"btn btn-outline-secondary\" type=\"button\" id=\"togglePass2\"><i class=\"bi bi-eye\"></i></button>\n              </div>\n              <div class=\"invalid-feedback\" id=\"pw2Feedback\">Şifreler eşleşmiyor.</div>\n            </div>\n\n            <div class=\"form-check my-3\">\n              <input class=\"form-check-input\" type=\"checkbox\" id=\"terms\" required>\n              <label class=\"form-check-label\" for=\"terms\">Kullanım şartlarını kabul ediyorum</label>\n              <div class=\"invalid-feedback\">Devam etmek için onay gerekli.</div>\n            </div>\n                <input type=\"hidden\" name=\"isAdmin\" value=\"true\">\n            <div class=\"d-flex justify-content-between align-items-center\">\n              <a href=\"/login\" class=\"link-secondary\">Zaten hesabın var mı? Giriş yap</a>\n              <button id=\"submitBtn\" type=\"submit\" class=\"btn btn-primary\">\n                <span class=\"btn-text\">Kayıt Ol</span>\n                <span class=\"spinner-border spinner-border-sm d-none\" role=\"status\" aria-hidden=\"true\"></span>\n              </button>\n            </div>\n          </form>\n\n          <div id=\"regAlert\" class=\"alert alert-danger mt-3 d-none\" role=\"alert\"></div>\n          <div id=\"regSuccess\" class=\"alert alert-success mt-3 d-none\" role=\"alert\">Kayıt başarılı. Yönlendiriliyorsunuz…</div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n\n</body>\n</html>\n",
        "output": "str",
        "x": 460,
        "y": 1800,
        "wires": [
            [
                "84be4beb553cbe26"
            ]
        ]
    },
    {
        "id": "898343caa6e3f92c",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 4",
        "func": "msg.cookies = {\n    token: null\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1700,
        "wires": [
            [
                "78a062b04551d6e3"
            ]
        ]
    },
    {
        "id": "5a5879c9b2e4a128",
        "type": "switch",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "property": "redirect",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/register",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "8637acb46830d49a"
            ],
            [
                "14819198696d743b"
            ]
        ]
    },
    {
        "id": "8a6d783f9fac6a74",
        "type": "link in",
        "z": "651af9bb9a46e4b0",
        "name": "link in 5",
        "links": [
            "7817b550669eb8a2"
        ],
        "x": 215,
        "y": 1840,
        "wires": [
            [
                "5a5879c9b2e4a128"
            ]
        ]
    },
    {
        "id": "14819198696d743b",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "126ead5b72b171f3"
        ],
        "x": 405,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4a66cc4d80aa2897",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "414d44229aa0ed03"
            ]
        ]
    },
    {
        "id": "2cbcf6d6ae4cab8b",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "b8be420b120246f5"
            ]
        ]
    },
    {
        "id": "608bec346261cb04",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "afee2af02b51714d"
            ]
        ]
    },
    {
        "id": "f55ef5f0d076fe2f",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "c8e03f51ac6bfb33"
            ]
        ]
    },
    {
        "id": "8a33b0e666b5995f",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "acc7c1f55f0a682a"
            ]
        ]
    },
    {
        "id": "333ba1b4a05495f7",
        "type": "subflow:9357c048778312fb",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "a6a7474d00f800aa"
            ]
        ]
    },
    {
        "id": "afee2af02b51714d",
        "type": "subflow:8775dfdfd56f79c1",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "4801fcc29ebde45c"
            ]
        ]
    },
    {
        "id": "f59872569465a1b9",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 2",
        "func": "// JWT Sign node'u token'ı msg.payload'a yazıyor (storetoken=payload)\nconst token = String(msg.payload || \"\");\nif (!token) {\n  msg.statusCode = 302;\n  msg.headers = { location: \"/login\" };\n  msg.payload = \"\";\n  return msg;\n}\n\n// İstersen msg.cookies de kullanabilirsin, ama Set-Cookie header'ı kesin çalışır:\nmsg.headers = msg.headers || {};\nmsg.headers[\"Set-Cookie\"] = `token=${token}; HttpOnly; Path=/; SameSite=Lax; Max-Age=604800`;\n\n// /login?next=... desteği:\nconst q = (msg.req && msg.req.query) || {};\nconst next = (q.next && /^\\/.*/.test(q.next)) ? q.next : \"/\";\nmsg.headers.location = next;\n\nmsg.statusCode = 302;\nmsg.payload = \"\"; // 302 body boş\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1540,
        "wires": [
            [
                "86740e96f67da72b"
            ]
        ]
    },
    {
        "id": "a6a7474d00f800aa",
        "type": "subflow:8775dfdfd56f79c1",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 520,
        "y": 1260,
        "wires": [
            [
                "7c83cb4a19389f12"
            ]
        ]
    },
    {
        "id": "acc7c1f55f0a682a",
        "type": "subflow:8775dfdfd56f79c1",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "7083b2826db710fa"
            ]
        ]
    },
    {
        "id": "f3de723a0ab4e6a9",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 6",
        "func": "// Redirect after user-opt\nmsg.statusCode = 302;\nmsg.headers = { Location: msg.redirect || \"/user-list\" };\nmsg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1060,
        "wires": [
            [
                "b5c78ee5996d045c"
            ]
        ]
    },
    {
        "id": "b5c78ee5996d045c",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "da2c3ef5dc432c29",
        "type": "inject",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a812e4a7bdb7b2cc"
            ]
        ]
    },
    {
        "id": "f285f794ec157009",
        "type": "debug",
        "z": "651af9bb9a46e4b0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "b50b71bef2ac91e5",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 760,
        "y": 60,
        "wires": [
            [
                "f285f794ec157009"
            ]
        ]
    },
    {
        "id": "a15711b91a686a0d",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "42e20be815dfa074"
            ]
        ]
    },
    {
        "id": "a812e4a7bdb7b2cc",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 7",
        "func": "msg.payload = {\n    username: \"admin\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 60,
        "wires": [
            [
                "a15711b91a686a0d"
            ]
        ]
    },
    {
        "id": "42e20be815dfa074",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 8",
        "func": "if (msg.payload) return null;  \n\nconst now = Date.now();\nmsg.payload = {\n  _id: 1000,\n  username: \"admin\",\n  password: \"$2a$10$xoiaDc.NvIeTq7eH0XoP5.47mNiKswxqXcXOSmkDTUEQ4MVhfqXOu\", \n  displayName: \"Sistem Yöneticisi\",\n  email: \"admin@site.local\",\n  roles: [\"admin\"],\n  active: true,\n  createdAt: now,\n  stamp: { createdAt: now, ip: \"127.0.0.1\", username: \"admin\", email: \"admin@site.local\" },\n  dateTime: new Date(now).toLocaleString(\"tr-TR\", { hour12: false })\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            [
                "b50b71bef2ac91e5"
            ]
        ]
    },
    {
        "id": "7b383705f4aaec1f",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "2ae9555726c58d4a"
            ]
        ]
    },
    {
        "id": "4ebc1649e8305f46",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "a1e1269d2a6b4d4c"
            ]
        ]
    },
    {
        "id": "a1e1269d2a6b4d4c",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 9",
        "func": "if (!msg.payload) {\n    msg.error = {\n        message: \"id ile eşleşen bir kayıt bulunamadı\"\n    }\n    return [null, msg]\n}\nif (msg.payload.done) {\n    msg.error = {\n        message: \"Tamamlanmış işler güncellenemez\"\n    }\n    return [null, msg]\n}\n\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 320,
        "wires": [
            [
                "b38fb814b875aebb"
            ],
            [
                "2713f0cacf4e39f6"
            ]
        ]
    },
    {
        "id": "8af76568d2754a77",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "b3bffd50b8d5c4d7"
            ]
        ]
    },
    {
        "id": "b3bffd50b8d5c4d7",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 10",
        "func": "if (!msg.payload) {\n  msg.error = { message: \"id ile eşleşen bir kayıt bulunamadı\" };\n  return [null, msg];\n}\n\nif (msg.payload.done) {\n  msg.error = { message: \"Tamamlanmış işler için hatırlatıcı kurulamaz\" };\n  return [null, msg];\n}\n\nfunction fmtLocal(dt) {\n  const p = n => String(n).padStart(2, '0');\n  return `${dt.getFullYear()}-${p(dt.getMonth() + 1)}-${p(dt.getDate())}T${p(dt.getHours())}:${p(dt.getMinutes())}`;\n}\n\nconst now = new Date();\nconst uiNow = fmtLocal(now);\nconst uiDt = msg.payload.schedule?.formData?.datetime || uiNow;\nconst uiNote = msg.payload.schedule?.formData?.note || \"\";\n\nmsg.payload = {\n  id: msg.payload.id,\n  name: msg.payload.name,\n  schedule: {\n    datetime: uiDt,  // burada formdan gelen tarih olacak\n    min: uiNow,\n    note: uiNote\n  }\n};\n\nreturn msg;\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 440,
        "wires": [
            [
                "a35e8f26138c2a60"
            ],
            [
                "22dd74058ceaa141"
            ]
        ]
    },
    {
        "id": "813b033439558352",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 11",
        "func": "// function 11 — /opt/:type (trash | complete | open | update | schedule)\n//\n// Bu sürümde \"schedule\" işleminde NOT metni schedule.formData içine\n// kaydedilmez; sadece zamanı tutulur. Not metni DB'de \"lastNote\" alanına\n// (opsiyonel) yazılır. Böylece listede \"not\" alanı boş görünür.\n\nconst type = msg.req?.params?.type || \"\";\nconst user = msg.user || { username: \"\", roles: [] };\n\n// findOne çıktısını normalize et\nconst doc = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\n// --- ID normalizasyonu\nconst rawFromForm = (msg.formData?.id ?? \"\").toString();\nconst rawFromDoc  = (doc?.id ?? \"\").toString();\nconst rawId = rawFromForm || rawFromDoc;\nconst asNum = Number(rawId);\nconst id = Number.isNaN(asNum) ? rawId : asNum;\n\nif (!doc) {\n  msg.error = { message: \"id ile eşleşen bir kayıt bulunamadı\" };\n  return [null, msg, null];  // [mongo, error, cron]\n}\n\n// --- Basit yetki kontrolü\nconst isAdmin = Array.isArray(user.roles) && user.roles.includes(\"admin\");\nif (doc?.stamp?.username && user?.username && doc.stamp.username !== user.username && !isAdmin) {\n  msg.error = { message: \"Yetkisiz işlem.\" };\n  return [null, msg, null];\n}\n\n// === İşlemler ===\nif (type === \"trash\") {\n  msg.operation = \"deleteOne\";\n  msg.payload   = [{ id }];\n  return [msg, null, null];\n}\n\nif (type === \"complete\") {\n  msg.operation = \"updateOne\";\n  msg.payload   = [{ id }, { $set: { done: true } }];\n  return [msg, null, null];\n}\n\nif (type === \"open\") {\n  msg.operation = \"updateOne\";\n  msg.payload   = [{ id }, { $set: { done: false } }];\n  return [msg, null, null];\n}\n\nif (type === \"update\") {\n  const newName = (msg.formData?.name || \"\").trim();\n  const origVal = (msg.formData?.orig || \"\").trim();\n  if (!newName) {\n    msg.error = { message: \"Görev adı boş olamaz.\" };\n    return [null, msg, null];\n  }\n  if (newName === origVal) {\n    msg.error = { message: \"Herhangi bir değişiklik yapmadınız.\" };\n    return [null, msg, null];\n  }\n  msg.operation = \"updateOne\";\n  msg.payload   = [{ id }, { $set: { name: newName } }];\n  return [msg, null, null];\n}\n\nif (type === \"schedule\") {\n  // ——— PLANLAMA ———\n  const whenRaw  = (msg.formData?.datetime || \"\").trim();   // \"YYYY-MM-DDTHH:mm[:ss]\"\n  const noteText = (msg.formData?.note || \"\").trim();       // EKRANDAKİ NOT (DB'de schedule'a yazmayacağız)\n\n  if (!whenRaw) {\n    msg.error = { message: \"Tarih/saat seçiniz.\" };\n    return [null, msg, null];\n  }\n\n  // saniye ekle (datetime-local saniyesiz gelir)\n  const whenIso = whenRaw.length === 16 ? (whenRaw + \":00\") : whenRaw;\n  const dt = new Date(whenIso);\n\n  if (isNaN(dt.getTime())) {\n    msg.error = { message: \"Geçersiz tarih/saat.\" };\n    return [null, msg, null];\n  }\n\n  // crontinject için doğru seçenek: Date nesnesi\n  const scheduleOptions = {\n    crontiMethod: \"onDate\",\n    crontiArgs: [dt]         // <— ÖNEMLİ: string değil, Date/epoch\n  };\n\n  // —— DB'ye yazılacak güncelleme ——\n  // NOT: schedule.formData içine NOTE KOYMUYORUZ; sadece datetime kalıyor.\n  const mongoMsg = {\n    ...msg,\n    operation: \"updateOne\",\n    payload: [\n      { id },\n      { $set: {\n          schedule: {\n            formData: { \n              datetime: msg.formData.datetime,\n              note: msg.formData.note\n              },\n            fireAt: dt.toISOString(),\n            epoch: dt.getTime()\n          },\n          // Notu ayrı bir alana istersen yaz (görsel temizlik için liste note'u boş kalsın)\n          lastNote: noteText\n        }\n      }\n    ]\n  };\n\n  // — akış hafızasına kısa bir kopya (tetik anında erişim için)\n  const shallowTodo = {\n    ...doc,\n    schedule: {\n      formData: { \n        datetime: msg.formData.datetime,\n        note: msg.formData.note\n        },\n      fireAt: dt.toISOString(),\n      epoch: dt.getTime()\n    },\n    lastNote: noteText\n  };\n  flow.set(`todo:${id}`, shallowTodo);\n\n  // — crontinject’e gidecek mesaj\n  const cronMsg = {\n    topic: `todo:${id}`,\n    payload: scheduleOptions,\n    todo: shallowTodo\n  };\n\n  // 3 çıkış: [mongo, error, cron]\n  return [mongoMsg, null, cronMsg];\n}\n\n// Bilinmeyen işlem\nmsg.error = { message: `Bilinmeyen işlem türü: ${type}` };\nreturn [null, msg, null];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "9736330931d8ab79"
            ],
            [
                "8646b06022669592"
            ],
            [
                "7148ede4c5df0a6c"
            ]
        ]
    },
    {
        "id": "93d181d58a920cd0",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "af5fc661d33623d3"
            ]
        ]
    },
    {
        "id": "af5fc661d33623d3",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "57fe0dbd56855d23",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 840,
        "y": 600,
        "wires": [
            [
                "813b033439558352"
            ]
        ]
    },
    {
        "id": "e82dbbf530f551b8",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "deleteOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1330,
        "y": 500,
        "wires": [
            [
                "91308c72ec45a46b"
            ]
        ]
    },
    {
        "id": "7148ede4c5df0a6c",
        "type": "link out",
        "z": "651af9bb9a46e4b0",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "18dc3105a4edec0c"
        ],
        "x": 1135,
        "y": 660,
        "wires": []
    },
    {
        "id": "193b96b36f8bb8a4",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "find",
        "output": "forEach",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "c993661ed2271d85"
            ]
        ]
    },
    {
        "id": "4957ed9e50014e41",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 12",
        "func": "/*\nmsg.payload = {\n    schedule: {\n        $exists: 1\n    }\n}\nreturn msg;\n*/\nvar user = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\nif (!user) {\n    msg.error = { message: \"Kullanıcı adı/e-posta veya şifre hatalı\" };\n    return [null, msg];\n}\nmsg.user = user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "193b96b36f8bb8a4"
            ]
        ]
    },
    {
        "id": "c993661ed2271d85",
        "type": "change",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.schedule.options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "dcacbd7ada1430a0"
            ]
        ]
    },
    {
        "id": "7ca247c16df46b79",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1190,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f99da836ba8f456d",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 830,
        "y": 940,
        "wires": [
            [
                "83aeb4a66b06d227"
            ]
        ]
    },
    {
        "id": "0d8a639157364107",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1260,
        "y": 1060,
        "wires": [
            [
                "f3de723a0ab4e6a9"
            ]
        ]
    },
    {
        "id": "0c8fb0b08f44164f",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1260,
        "y": 1140,
        "wires": [
            [
                "30ba0301a2a907e7"
            ]
        ]
    },
    {
        "id": "30ba0301a2a907e7",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 13",
        "func": "// function 13 — activate/deactivate + update + başarılı işlemde redirect\nconst type  = msg.req?.params?.type ?? \"\";\nconst found = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\nif (!found) {\n  msg.error = { message: `İşlem için kullanıcı bulunamadı (ID: ${msg.formData?.id})` };\n  msg.redirect = \"/user-list\";\n  return [null, msg]; // [success, error]\n}\n\n// form verisini normalize et\nconst f = msg.formData || {};\nconst changes = {};\n\n// ---- UPDATE (profil düzenleme)\nif (type === \"update\") {\n  // Görünen ad\n  const dn = (f.displayName || \"\").trim();\n  if (dn && dn !== found.displayName) changes.displayName = dn;\n\n  // Admin rolü (checkbox yalnızca adminlere gösteriliyorsa isAdmin_present flag'i gönder)\n  if (\"isAdmin_present\" in f) {\n    const roles = Array.isArray(found.roles) ? [...new Set(found.roles.map(String))] : [];\n    const hasAdmin  = roles.includes(\"admin\");\n    const wantAdmin = String(f.isAdmin) === \"true\";\n    if (wantAdmin && !hasAdmin) roles.push(\"admin\");\n    if (!wantAdmin && hasAdmin) roles.splice(roles.indexOf(\"admin\"), 1);\n    changes.roles = roles.length ? roles : [\"user\"];\n  }\n\n  // Aktif/Pasif (radio \"active\" -> \"true\"/\"false\")\n  if (typeof f.active !== \"undefined\") {\n    const wantActive = String(f.active) === \"true\";\n    const current    = found.active ?? true;\n    if (wantActive !== current) changes.active = wantActive;\n  }\n\n  // Şifre (hash'lenmiş değer bu alana gelmiş olmalı)\n  if (f.password && String(f.password).trim().length) {\n    changes.password = f.password;\n  }\n\n  if (!Object.keys(changes).length) {\n    msg.error = { message: \"Herhangi bir değişiklik yapmadınız.\" };\n    msg.redirect = `/user-edit/${found._id}`;\n    return [null, msg];\n  }\n\n  // DB updateOne payload'ı\n  msg.payload = [{ _id: found._id }, { $set: changes }];\n\n  // Başarılı HTTP yönlendirmesi\n  msg.statusCode = 302;\n  msg.headers = { Location: \"/user-list\" };\n\n  return [msg, null];\n}\n\n// ---- ACTIVATE / DEACTIVATE\nif (type === \"activate\" || type === \"deactivate\") {\n  changes.active = (type === \"activate\");\n\n  msg.payload = [{ _id: found._id }, { $set: changes }];\n\n  msg.statusCode = 302;\n  msg.headers = { Location: \"/user-list\" };\n\n  return [msg, null];\n}\n\n// ---- Bilinmeyen işlem\nmsg.error = { message: `Bilinmeyen işlem türü: ${type}` };\nmsg.redirect = \"/user-list\";\nreturn [null, msg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1140,
        "wires": [
            [
                "b6a0401ccb7c0187"
            ],
            [
                "68b150d9072e014b"
            ]
        ]
    },
    {
        "id": "b6a0401ccb7c0187",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1610,
        "y": 1120,
        "wires": [
            [
                "388bd9ef3519ee93"
            ]
        ]
    },
    {
        "id": "388bd9ef3519ee93",
        "type": "http response",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1770,
        "y": 1120,
        "wires": []
    },
    {
        "id": "049f6c44dff76dd4",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "d8c7a9da715ff676"
            ]
        ]
    },
    {
        "id": "d8c7a9da715ff676",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 14",
        "func": "const doc = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\nif (!doc) { msg.error = { message: \"Kayıt bulunamadı.\" }; return msg; }\n\n// id ve durum türevleri\ndoc.id       = String(doc._id);\ndoc.isActive = doc.active ?? true;\n\n// roller normalizasyonu (sizde zaten var)\nconst roles = Array.isArray(doc.roles) ? doc.roles : (doc.role ? [doc.role] : []);\nconst norm  = roles.map(s => String(s).toLowerCase().trim());\ndoc.roles   = norm.length ? Array.from(new Set(norm)) : [\"user\"];\ndoc.isAdmin = doc.roles.includes(\"admin\");\n\nmsg.payload = doc;\nmsg.year = new Date().getFullYear(); // alt yazı için (şablonda {{year}} var)\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1260,
        "wires": [
            [
                "1251f822538e5dd8"
            ],
            [
                "18d52f7ab428eef7"
            ]
        ]
    },
    {
        "id": "a1e33ed13fcde42a",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "user",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 500,
        "y": 1560,
        "wires": [
            [
                "23c69382a41e73a9"
            ]
        ]
    },
    {
        "id": "23c69382a41e73a9",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "function 15",
        "func": "const fp = msg.formData || {};\nconst identifier = (fp.identifier || fp.username || fp.email || '').toString().trim().toLowerCase();\nconst password   = (fp.password || '').toString();\n\n\nconst user = msg.payload || null;\n\n\nif (!user) {\n  msg.error = { message: \"Kullanıcı adı/e-posta veya şifre hatalı\" };\n  return [null, msg]; // 2. çıkışa gönder\n}\n\n\nconst uName = String(user.username || '').toLowerCase();\nconst uMail = String(user.email || '').toLowerCase();\nif (identifier && identifier !== uName && identifier !== uMail) {\n  msg.error = { message: \"Kullanıcı adı/e-posta veya şifre hatalı\" };\n  return [null, msg];\n}\n\n\nmsg.user = user;                 \nmsg.payload = { password };      \nreturn [msg, null];              \n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "ed58fab8df11b349"
            ],
            [
                "42db88840c0f57de"
            ]
        ]
    },
    {
        "id": "83aeb4a66b06d227",
        "type": "function",
        "z": "651af9bb9a46e4b0",
        "name": "processUserList",
        "func": "// processUserList — createdAt'a göre DESC sırala + \"Kod 1\" zenginleştirme\n\n// 0) payload'ı diziye normalize et\nlet arr = Array.isArray(msg.payload) ? msg.payload : (msg.payload ? [msg.payload] : []);\n\n// 1) Zamana göre (createdAt) azalan sırala\nconst getTs = (u) => {\n    const v = u?.createdAt;\n    if (typeof v === \"number\" && !isNaN(v)) return v;       // epoch ms / s (ms olduğunu varsayar)\n    const t = Date.parse(v);                                 // ISO string vs.\n    return isNaN(t) ? 0 : t;\n};\narr.sort((a, b) => getTs(b) - getTs(a));\n\n// 2) \"Kod 1\" (hiç dokunmadan) — her kullanıcı kaydını zenginleştir\nmsg.payload = arr.map(user => {\n    user.id = String(user._id);\n    user.isAdmin = Array.isArray(user?.roles) && user.roles.includes(\"admin\");\n    user.isActive = user?.active ?? true;\n    \n    let formattedCreatedAt = \"\";\n    if (user.createdAt) {\n        const date = new Date(user.createdAt);\n        formattedCreatedAt = date.toLocaleString(\"tr-TR\", {\n            day: \"2-digit\",\n            month: \"2-digit\",\n            year: \"numeric\",\n            hour: \"2-digit\",\n            minute: \"2-digit\",\n            second: \"2-digit\",\n            hour12: false,\n            timeZone: \"Europe/Istanbul\"\n        });\n    }\n    user.createdAtText = formattedCreatedAt;\n    \n    let displayIdValue = String(user.id || \"\");\n    if (displayIdValue.length > 10) {\n        user.display_short_created_at_id = displayIdValue.substring(0, 10) + \"...\";\n    } else {\n        user.display_short_created_at_id = displayIdValue;\n    }\n\n    return user;\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 940,
        "wires": [
            [
                "90f7036bef489ba2"
            ]
        ]
    },
    {
        "id": "4e98ad516c31ad46",
        "type": "mongodb4",
        "z": "651af9bb9a46e4b0",
        "clientNode": "071adb762f609302",
        "mode": "collection",
        "collection": "todo",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "91308c72ec45a46b"
            ]
        ]
    },
    {
        "id": "9736330931d8ab79",
        "type": "switch",
        "z": "651af9bb9a46e4b0",
        "name": "",
        "property": "operation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "deleteOne",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "updateOne",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "e82dbbf530f551b8"
            ],
            [
                "4e98ad516c31ad46"
            ]
        ]
    }
]